####################################
# Terraform
####################################

.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfstate.backup

####################################
# Terraform variables (secrets)
####################################
*.tfvars
*.tfvars.json

####################################
# Python
####################################
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

####################################
# Logs
####################################
crash.log
crash.*.log

####################################
# OS / Editor
####################################
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
